<div class='row'>
  <div class='span12'>
    <%= page_header %>

    <%= horizontal_form_for @category, url: admin_categories_path do |f| %>
      <%= render partial: 'form', locals: { f: f } %>
    <% end %>
  </div>
</div>
